html {
    background: url("interior-empty-Classroom-clipart.png") no-repeat center fixed;
    background-size: cover;
  }
  
  body {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 40px 80px;
    width: 500px;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    font-size: 42px;
    font-variant: small-caps;
  }
  
  h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: midnightblue
  }
  
  li {
    margin: 10px;
  }
  
  button {
    background: skyblue;
    padding: 5px 25px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #result {
    border: 1px solid orange;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
  }